body {
    text-align: center;
    color:rgb(113, 42, 172);
}
.container {
    border-radius: 10px;
    border: 2px solid black;
    width: 70%;
    padding: 1em;
    margin: 0 auto;
}
h1 {
    font-size: 45px;
}